{% load staticfiles %}<!DOCTYPE html>
<!--[if lt IE 7]>    <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>     <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>     <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="{% static 'contrib/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'spirithunter/css/spinner.css' %}">

    <script src="{% static 'contrib/modernizr-2.6.2.min.js' %}"></script>
    <script src="{% static 'spirithunter/js/primitives.js' %}"></script>
    <script src="{% url 'javascript' %}"></script>

    {% block css %}{% endblock css %}
    {% block js_header %}{% endblock js_header %}

  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <nav class="navbar navbar-default" role="navigation">

      <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">SpiritHunter</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav">

            {% if user.is_authenticated %}
              <li class="{{ nav.finder     }}"><a href="{% url 'spirits-finder' %}">Find a Fight</a></li>
              <li class="{{ nav.collection }}"><a href="{% url 'users-spirits' url_name=user.url_name %}">Collection</a></li>
              <li class="{{ nav.inventory  }}"><a href="{% url 'users-inventory' url_name=user.url_name %}">Inventory</a></li>
              <li class="{{ nav.sundries   }}"><a href="{% url 'items-shop' %}">Supplies</a></li>
            {% else %}
              <li class="{{ nav.about }}"><a href="{% url 'about' %}">About</a></li>
              <li class="{{ nav.registration }}"><a href="{% url 'login' %}">Register</a></li>
            {% endif %}

            {% if user.is_authenticated %}
              <li><a href="{% url 'logout' %}">Logout</a></li>
            {% endif %}

          </ul>

          {% if not user.is_authenticated %}
            <form class="navbar-form navbar-right" method="post" action="{% url 'login' %}">
              <div class="form-group">
                <input id="id_username" maxlength="254" name="username" type="text" class="form-control" placeholder="Email" />
                <input id="id_password" name="password" type="password" class="form-control" placeholder="Password" />
                {% csrf_token %}
                <input id="id_next" name="next" type="hidden" />
                <input id="id_login" name="login" value="1" type="hidden" />
                <input type="submit" name="s" value="Login" class="btn btn-primary" />
              </div>
            </form>
          {% endif %}

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="col-md-12">
      {% if header %}
        <div class="page-header">
          <h1>{{ header }}{% if subheader %} <small>{{ subheader }}</small>{% endif %}</h1>
        </div>
      {% endif %}
      {% block content %}{% endblock content %}
    </div>

    <script src="{% static 'contrib/jquery-2.1.1.min.js' %}"></script>
    <script src="{% static 'contrib/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'spirithunter/js/csrf-magic.js' %}"></script>

    {% block js_footer %}{% endblock js_footer %}

    <script src="{% static 'spirithunter/js/location.js' %}"></script>

  </body>
</html>
