{% extends 'spirithunter/base.html' %}



{% block content %}
  <div class="text-center">

    <a href="{% url 'spirits-finder' %}" class="btn btn-danger btn-block">Find a Fight</a>
    <p><small>This is where you go looking for trouble.</small></p>

    <a href="{% url 'users-spirits' url_name=user.url_name %}" class="btn btn-primary btn-block">Collection</a>
    <p><small>
      View your collection of spirits, their stats and abilities.  This is also
      where you modify them, set them free, or just let them run around a while
      to gain some HP.
    </small></p>

    <a href="{% url 'users-inventory' url_name=user.url_name %}" class="btn btn-primary btn-block">Inventory</a>
    <p><small>
      Items acquired through battle or via the sundries store are listed here.
    </small></p>

    <a href="{% url 'items-shop' %}" class="btn btn-primary btn-block">Supplies</a>
    <p><small>
      Buy powerups for your spirits including consumables, weapons and armour.
    </small></p>

    <a id="tree-assignment" href="{% url 'api_dispatch_list' api_name='v1' resource_name='tree' %}" class="btn btn-success btn-block ajax-post">Place Your Home Tree Here</a>
    <p><small>
      Your home tree is where your found spirits go when you're not carrying
      them in a jar.  You must return to this tree to make use of them.  Note
      also that you can't just uproot your tree and place it anywhere, as it
      takes 24hours for it to take root and establish itself.  Until that time,
      you cannot make use of your tree and any spirits not currently jarred are
      unavailable to you.
    </small></p>

  </div>
{% endblock content %}



{% block js_footer %}

  {{ block.super }}

  <script>
    $("#tree-assignment").click(function(event){
      event.preventDefault();
      $.post($(this).attr("href"), {}, function(data){
        var coords = data.coordinates;
        alert("Your tree has been planted at (" + coords[1] + "," + coords[0] + ")!  It'll take 24hrs before the tree is available to you.");
      }, "json");
    });
  </script>

{% endblock js_footer %}
