{% extends 'spirithunter/base.html' %}
{% load staticfiles %}



{% block css %}

  {{ block.super }}

  <link rel="stylesheet" type="text/css" href="{% static 'contrib/leafletjs/leaflet.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'contrib/flags/stylesheets/flags16.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'spirits/css/general.css' %}" />

{% endblock css %}



{% block content %}

  {% include 'spirits/finder.html' %}
  {% include 'spirits/chooser.html' %}
  {% include 'spirits/encounter.html' %}
  {% include 'spirits/spoils.html' %}
  {% include 'spirits/defeated.html' %}

{% endblock content %}



{% block js_footer %}

  {{ block.super }}

  <script type="text/javascript" src="{% static 'contrib/leafletjs/leaflet.js' %}"></script>
  <script type="text/javascript" src="{% static 'encounters/js/general.js' %}"></script>

{% endblock js_footer %}
