<div id="chooser" class="chooser">
  {% for spirit in available_spirits %}
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center">
      <div class="spirit">
        <a
          href="#"
          data-name="{{ spirit.name }}"
          data-pk="{{ spirit.pk }}"
          data-image64="{{ spirit.image64 }}"
          data-level="{{ spirit.level }}"
          data-health_current="{{ spirit.health_current }}"
          data-health_maximum="{{ spirit.health_maximum }}"
          data-elements="{% for element in spirit.elements.all %}{{ element.image16 }}{% if not forloop.last %},{% endif %}{% endfor %}"
        >
          <img src="{{ spirit.image64 }}" width="64" height="64" />
          <h5>{{ spirit.name }} (id:{{ spirit.pk }})</h5>
        </a>
      </div>
      <span class="attributes elements">
        {% for element in spirit.elements.all %}
          <img src="{{ element.image16 }}" width="16" height="16" alt="{{ element.name }}" />
        {% endfor %}
      </span>
      <span class="attributes facets">
        {% for facet in spirit.facets.all %}
          <img src="{{ facet.image16 }}" width="16" height="16" alt="{{ facet.name }}" />
        {% endfor %}
      </span>
      <span class="attributes nationalities f16">
        {% for nationality in spirit.nationalities.all %}
          <span class="flag {{ nationality.country.code|lower }}" title="{{ nationality.country.name }}"></span>
        {% endfor %}
      </span>
    </div>
  {% endfor %}
</div>
