{% extends 'spirithunter/base.html' %}
{% load staticfiles %}



{% block css %}

  {{ block.super }}

  <link rel="stylesheet" type="text/css" href="{% static 'contrib/flags/stylesheets/flags32.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'spirits/css/general.css' %}" />
  <style type="text/css">
    .noname {
      font-style: italic;
      color: #cccccc;
    }
  </style>

{% endblock css %}



{% block content %}

  <div class="col-md-4 pull-left">
    <img src="{{ spirit.image256 }}" width="256" height="256" alt="">
  </div>
  <div class="col-md-8 pull-left">
    <h1>
      {% if spirit.name %}
        {{ spirit.name }}
      {% else %}
        <span class="noname">Unnamed</span>
      {% endif %}
      {% if permissions.is_administrator %}
        <div class="pull-right"><a href="#" class="btn btn-primary btn-mini">Edit</a></div>
      {% endif %}
    </h1>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Stats</h3>
      </div>
      <div class="panel-body">
        <table class="table table-responsive table-striped">
          <tr class="hidden-md"><th>Level</th><td>{{ spirit.level }}</td></tr>
          <tr><th>Family</th><td>{{ spirit.family.name }}</td></tr>
          <tr><th>ATK</th><td>{{ spirit.attack }}</td></tr>
          <tr><th>DEF</th><td>{{ spirit.defence }}</td></tr>
          <tr><th>HP</th><td>{{ spirit.health_current }} / {{ spirit.health_maximum }}</td></tr>
          <tr><th>SP</th><td>{{ spirit.speed }}</td></tr>
          <tr><th>Origin</th><td>{{ spirit.get_origin_string }}</td></tr>
          {% if spirit.activity == spirit.ACTIVITY.WANDER %}
            <tr><th>Location</th><td>{{ spirit.get_location_string }}</td></tr>
          {% endif %}
          <tr><th>Spawned</th><td>{{ spirit.created }}</td></tr>
          <tr><th>Currently</th><td><span id="current-activity">{{ spirit.get_activity_display }}</span></td></tr>
          {% if spirit.owner %}
            <tr><th>Owner</th><td>{{ spirit.owner }}</td></tr>
          {% endif %}
          <tr>
            <th>Positive Elements</th>
            <td>
              {% for element in elements.positive %}
                <img src="{{ element.image32 }}" title="{{ element.name }}" />
              {% endfor %}
            </td>
          </tr>
          <tr>
            <th>Negative Elements</th>
            <td>
              {% for element in elements.negative %}
                <img src="{{ element.image32 }}" title="{{ element.name }}" />
              {% endfor %}
            </td>
          </tr>
          <tr>
            <th>Facets</th>
            <td>
              {% for facet in spirit.facets.all %}
                <img src="{{ facet.image32 }}" title="{{ facet.name }}"/>
              {% endfor %}
            </td>
          </tr>
          <tr>
            <th>Nationalities</th>
            <td class="icons f32">
              {% for nationality in spirit.nationalities.all %}
                <span class="flag {{ nationality.country.code|lower }}" title="{{ nationality.country.name }}"></span>
              {% endfor %}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  {% if permissions.is_administrator %}
    <div class="clearfix"></div>
    <div class="btn-group btn-group-justified col-md-12">
      <div class="btn-group">
        <button type="button" class="btn btn-default btn-success activity-change" data="frolicking">Frolic</button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-default btn-primary activity-change" data="jarred">Jar</button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-default btn-danger activity-change" data="released">Release</button>
      </div>
    </div>
  {% endif %}

{% endblock content %}



{% block js_footer %}

  {{ block.super }}

  <script>

    var $current_activity = $("#current-activity");
    function handle_activity_change(){
      var activity = $(this).attr("data");
      $.ajax({
        headers : {
          "Accept": "application/json",
          "Content-Type": "application/json"
        },
        url: window.spirithunter.urls.api.v1.spirits.detail.replace("0000", {{ spirit.pk }}),
        type: "PATCH",
        data: JSON.stringify({activity: window.spirithunter.constants.activities[activity]}),
        success: function(response, textStatus, jqXhr) {
          alert(activity.capitalise() + "!");
          $current_activity.html(activity.capitalise());
          if (activity == "released") {
            window.location.reload();
          }
        },
        error: function(jqXHR, textStatus, errorThrown) {
          console.log(textStatus, errorThrown);
        }
      });
    }

    $(".activity-change").click(handle_activity_change);

  </script>

{% endblock js_footer %}
