<div id="encounter" class="encounter">
  <div id="theatre" class="theatre">
    <div class="attacker col-xs-6 col-md-6"></div>
    <div class="defender col-xs-6 col-md-6"></div>
    <div class="attacker-elements col-xs-6 col-md-6 text-center"></div>
    <div class="defender-elements col-xs-6 col-md-6 text-center"></div>
    <div class="clearfix"></div>
  </div>
  <div id="stats" class="stats">
    <div class="attacker col-xs-6 col-md-6">
      <div class="health">
        <span class="health-current">0</span> /
        <span class="health-maximum">0</span>
      </div>
      <div class="level">Level <span class="level-value">0</span></div>
    </div>
    <div class="defender col-xs-6 col-md-6">
      <div class="health">
        <span class="health-current">0</span> /
        <span class="health-maximum">0</span>
      </div>
      <div class="level">Level <span class="level-value">0</span></div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div id="options" class="options">
    <a href="#" id="use-attack" class="btn btn-danger btn-block">Attack</a>
    <a href="#" id="use-magic" class="btn btn-success btn-block">Magic</a>
    <a href="#" id="use-item" class="btn btn-info btn-block">Item</a>
    <a href="#" id="escape" class="btn btn-default btn-block">Escape</a>
  </div>
</div>
