<div id="spoils" class="spoils col-md-12 text-center">
  <p>
    <span id="spoils-winner-name"></span> will gain <span id="spoils-xp"></span> XP!
  </p>
  <div class="choice">
    <a id="spoils-keep" href="#" class="btn btn-primary">Keep <span id="spoils-loser-name"></span> as your own</a>
    <a id="spoils-item" href="#" class="btn btn-primary">Let them go</a>
  </div>
  <p>Releasing spirits often results in rewards in the form of items and/or coins.</p>
</div>
