{% extends 'spirithunter/base.html' %}
{% load staticfiles %}



{% block css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'contrib/flags/stylesheets/flags16.css' %}" />
  <style>
    .icons span {
      padding: 0 5px;
    }
    .item {
      margin-bottom: 20px;
    }
  </style>
{% endblock css %}



{% block content %}
  <div id="items"><div class="spinner"></div></div>
{% endblock content %}



{% block js_footer %}

  {{ block.super }}

  <script language="JavaScript" src="{% static 'users/items.js' %}"></script>
  <script>
    Listing({{ object.pk }}).draw_listing();
  </script>

{% endblock js_footer %}
