.finder,
.chooser,
.encounter {
  width: 100%;
  height:400px;
}

.encounter,
.chooser,
.spoils,
.defeated {
  display: none;
}

  .chooser .spirit {
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #e9e9e9;
    padding: 5px;
  }
    .chooser .spirit .attributes {
      padding-left: 5px;
    }

  .encounter .theatre {
    width: 100%;
    border: 1px solid #cccccc;
  }
    .encounter .theatre .attacker,
    .encounter .theatre .defender {
      background-color: rgba(255, 255, 255, 0.5);
      padding: 5px;
    }
    .encounter .theatre .attacker-elements,
    .encounter .theatre .defender-elements {
      background-color: rgba(255,255,255,0.8);
      padding: 3px;
    }
  .encounter .stats .attacker,
  .encounter .stats .defender {
    padding: 0 0 20px 0;
  }
    .encounter .attacker,
    .encounter .defender {
      text-align: center;
    }
