{% extends 'spirithunter/base.html' %}
{% load staticfiles %}



{% block css %}
  {{ block.super }}
{% endblock css %}



{% block content %}
  <div id="items"></div>
{% endblock content %}



{% block js_footer %}

  {{ block.super }}

  <script language="JavaScript" src="{% static 'items/js/store.js' %}"></script>
  <script>
    Listing().draw_listing();
  </script>

{% endblock js_footer %}
